@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}
html {
    font-family: Roboto;
}
body {
    max-width: 1600px;
    margin: auto;
}
header {
    display: flex;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #000000;
    backdrop-filter: blur(2px);
}
.navbar-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-bar-up {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navbar-logo {
    width: 82px;
    height: 52px;
}
.nav-bar {
    height: 100%;
}
.nav-bar, ul {
    width: 30%;
    height: 60%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-top: 10px;
    padding-left: 20px;
}
.nav-bar, li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.about {
    color: #FE9013;
}
.nav-left {
    display: flex;
    background-color: browm;
    height: 100%;
    width: 75%;
    margin-left: 220px;
}
.design-block {
    margin-right: 220px;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.design-block a {
    text-decoration: none;
    color: #FFFFFF;
}
.favorite-animal-block {
    background-image: url(../../assets/images/Giant_Panda.png);
    width: 100%;
    height: 780px;
    background-size: cover;
}
.cirkle {
    width: 465px;
    height: 465px;
    background-color: #FE9013;
    border-radius: 100%;
    margin-left: 807px;
    margin-top: 12px;
    position: absolute;
}
.text {
    width: 500.31px;
    height: 400px;
    margin-left: 880px;
    margin-top: 86px;
    position: absolute;
}
.text p {
    font-size: 106.5px;
    line-height: 79.87px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.text span {
    color: #FFEE2E;
}