@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}
html {
    font-family: Roboto;
}
body {
    max-width: 1600px;
    margin: auto;
}
/* BLOCK: Header/Navigation */

header {
    display: flex;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #000000;
    backdrop-filter: blur(2px);
}
.navbar-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-bar-up {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navbar-logo {
    width: 82px;
    height: 52px;
}
.nav-bar {
    height: 100%;
}
.nav-bar, ul {
    width: 30%;
    height: 60%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-top: 10px;
    padding-left: 20px;
}
.nav-bar, li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.about {
    color: #FE9013;
}
.nav-left {
    display: flex;
    background-color: browm;
    height: 100%;
    width: 75%;
    margin-left: 220px;
}
.design-block {
    margin-right: 220px;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.design-block a {
    text-decoration: none;
    color: #FFFFFF;
}

/* BLOCK: Big PANDA */

.favorite-animal-block {
    background-image: url(../../assets/images/Giant_Panda.png);
    width: 100%;
    height: 780px;
    background-size: cover;
}
.cirkle {
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 100%;
    margin-left: 807px;
    margin-top: 12px;
    position: absolute;
}
.text {
    width: 500.31px;
    height: 400px;
    margin-left: 880px;
    margin-top: 86px;
    position: absolute;
}
.text p {
    font-size: 106.5px;
    line-height: 79.87px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.text span {
    color: #FFEE2E;
}
.button-watch {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    position: absolute;
    margin-left: 983px;
    margin-top: 626px;
}
.button-watch p {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22.4px;
    font-size: 16px;
    text-align: center;
}
.backstage-block {
    height:629px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BLOCK: Guy with HAT */

.column1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:right;
}
.column1-img {
    height: 403px;
    width: 609px;
}
.column2 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-column2 {
    width: 465px;
    height: 403px;
}
.sub-column2 h2 {
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 400;
    margin: 0;
}
.sub-column2-first-p {
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 400;
}
.sub-column2-second-p {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 400;
}
.sub-column2-third-p {
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
}
/* .flower-1 {
    left: 1400px;
    border: 5px solid black
}
.flower-1-1 {
    width: 200px;
    height: 605px;
} */

/* BLOCK: ANIMALS in 6 CARDS */

.six-card-main {
    width: 100%;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.six-card {
    width: 1260px;
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-div {
    height: 426px;
    width: 366px;
    margin: 25px;
    border: 2px solid #fc8b22;
    border-radius: 5px;
}
.card-bottom-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.card-bottom-button p {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22.4px;
    font-size: 16px;
    text-align: center;
}
.card-main-img {
    height: 366px;
    width: 366px;
    border-radius: 5px;
}
.card-main-txt {
    position: relative;
}
.card-main-txt h4 {
    text-transform: uppercase;
    line-height: 22.4px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}
.card-main-txt p {
    text-transform: uppercase;
    line-height: 18px;
    font-size: 15px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}
.card-main-txt img {
    width: 33px;
    height: 29.15px;
    position: absolute;
    left: 321px;
    top: 15px;
}