@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}
html {
    font-family: Roboto;
}
body {
    max-width: 1600px;
    margin: auto;
}
/* BLOCK: Header/Navigation */

.invisible {
    position: absolute;
    color: #000000;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
header {
    display: flex;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #000000;
    backdrop-filter: blur(2px);
}
.navbar-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-bar-up {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navbar-logo {
    width: 82px;
    height: 52px;
}
.nav-bar {
    height: 100%;
}
.nav-bar, .nav-bar ul {
    width: 30%;
    height: 60%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-top: 10px;
    padding-left: 20px;
}
.nav-bar, .nav-bar li, .nav-bar a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.about {
    color: #FE9013!important;
}
.nav-left {
    display: flex;
    background-color: browm;
    height: 100%;
    width: 75%;
    margin-left: 220px;
}
.design-block {
    margin-right: 220px;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.design-block a {
    text-decoration: none;
    color: #FFFFFF;
}

/* BLOCK: Big PANDA */

.favorite-animal-block {
    background-image: url(../../assets/images/Giant_Panda.png);
    width: 100%;
    height: 780px;
    background-size: cover;
}
.cirkle {
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 100%;
    margin-left: 807px;
    margin-top: 12px;
    position: absolute;
}
.text {
    width: 500.31px;
    height: 400px;
    margin-left: 880px;
    margin-top: 86px;
    position: absolute;
}
.text p {
    font-size: 106.5px;
    line-height: 79.87px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.text span {
    color: #FFEE2E;
}
.button-watch {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    position: absolute;
    margin-left: 983px;
    margin-top: 626px;
}
.button-watch p {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22.4px;
    font-size: 16px;
    text-align: center;
}
.backstage-block {
    height:629px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BLOCK: Guy with HAT */

.column1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:right;
}
.column1-img {
    height: 403px;
    width: 609px;
}
.column2 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-column2 {
    width: 465px;
    height: 403px;
}
.sub-column2 h2 {
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 400;
    margin: 0;
}
.sub-column2-first-p {
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 400;
}
.sub-column2-second-p {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 400;
}
.sub-column2-third-p {
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
}
/* .flower-1 {
    left: 1400px;
    border: 5px solid black
}
.flower-1-1 {
    width: 200px;
    height: 605px;
} */

/* BLOCK: ANIMALS in 6 CARDS */

.six-card-main {
    width: 100%;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.six-card {
    width: 1260px;
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-div {
    height: 426px;
    width: 366px;
    margin: 25px;
    border: 2px solid #fc8b22;
    border-radius: 5px;
}
.card-bottom-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.card-bottom-button p {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22.4px;
    font-size: 16px;
    text-align: center;
}
.card-main-img {
    height: 366px;
    width: 366px;
    border-radius: 5px;
}
.card-main-txt {
    position: relative;
}
.card-main-txt h4 {
    text-transform: uppercase;
    line-height: 22.4px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}
.card-main-txt p {
    text-transform: uppercase;
    line-height: 18px;
    font-size: 15px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}
.card-main-txt img {
    width: 33px;
    height: 29.15px;
    position: absolute;
    left: 321px;
    top: 15px;
}

/* BLOCK: Pick AND Feed */

.pick-and-feed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    width: 100%;
    height: 1004px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pick-and-feed-inner-div {
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    height: 835px;
    width: 1160px;
}
.pick-and-feed-text h2 {
    color: #FE9013;
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;

}
.emergency-link {
    color: black;
    text-decoration-color: #FE9013;
    text-underline-offset: 5px;
}
.pick-and-feed-text-1 {
    font-weight: 400;
    line-height: 28.8px;
    font-size: 24px;
    padding-left: 99px;
}
.pick-and-feed-text-2 {
    font-weight: 500;
    line-height: 20.8px;
    font-size: 16px;
    padding-left: 99px;
}
.pick-and-feed-text-3 {
    font-weight: 400;
    line-height: 20.8px;
    font-size: 16px;
    padding-left: 99px;
}
.pick-and-feed-text h3 {
    color: #333B41;
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    text-align: center;
}
.how-it-works {
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-it-works-divs {
    height: 168px;
    width: 168px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #F9804B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-it-works-1-img {
    height: 60px;
    width: 108px;
}
.how-it-works-2-img {
    width: 80px;
}
.how-it-works-3-img {
    height: 71.6px;
}
.arrow-div {
    width: 130px;
    height: 35.08px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.arrow {
    width: 69px;
    height: 35.08px;
}
.how-it-works-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
}
.how-it-works-button p, .how-it-works-button a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22.4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.how-it-works-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

/* Testimonials block */

.testimonials {
    width: 100%;
    height: 919px;
}
.testimonials-text {
    width: 100%;
    text-align: center;
}
.testimonials-text h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    padding: 0;
    margin: 0;
    padding-top: 140px;
    padding-bottom: 47px;
}
.testimonials-columns {
    width: 100%;
    height: 391px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials-columns-inner {
    width: 1207px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testimonials-column {
    width: 268px;
    height: 391px;
    border-radius: 20px;
    background: #F1F3F2;
    border: 2px solid rgba(243, 169, 248, 0.66);
}
.testimonials-column img {
    height: 37px;
    width: 37px;
    padding-left: 16px;
    padding-top: 15px;
}
.testimonials-column-top {
    display: flex;
    align-items: center;
}
.testimonials-column-top h4 {
    padding: 15px 0 1px 10px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.testimonials-column-top h5 {
    padding: 0 0 0 10px;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
}

.testimonials-column p {
    padding: 10px 15px 19px 15px;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767474;
}
.line-scrol {
    width: 100%;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 22px;
}
.line-scrol-full {
    width: 599px;
    height: 8px;
    display: flex;
    align-items: center;
    background: #F5F7F6;
    border-radius: 5px;
    border: 1px solid rgba(243, 169, 248, 0.66);
}
.line-scrol-left {
    width: 115.9px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
}
.testimonials-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 220px;
}
.testimonials-button p {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
}

/* FOOTER block */

footer {
    width: 100%;
    height: 443px;
    background-color: #111115;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-left {
    height: 100%;
    width: 33%;
    display: grid;
}
.footer-middle {
    height: 100%;
    width: 33%;
}
.footer-right {
    background-color: yellow;
    height: 100%;
    width: 34%;
}
.footer-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 220px;
}
.footer-button p, .footer-button a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.footer-ul img {
    height: 26px;
}
.footer-ul {
    list-style-type: none;
    margin-top: 44px;
    margin-left: 180px;
}
.footer-logo {
    width: 82px;
    height: 52px;
    margin-top: 41.55px;
    margin-bottom: 68px;
    margin-left: 220px;
}
.footer-middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 390px;
}
.footer-middle li, .footer-middle a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.about-footer {
    color: #FE9013!important;

}
.footer-right {
    height: 100%;
    width: 40%;
    background-color: #111115;
}
.footer-right-up {
    height: 50%;
    width: 100%;
    background-color: #111115;
}
.footer-right-down {
    height: 50%;
    width: 100%;
    background-color: #111115;
}
.footer-right p {
    padding: 0;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 14px;
}
.footer-right-up p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #FFFFFF;
}
.input-area {
    border: 2px solid #FE9013;
    border-radius: 2px;
    width: 228px;
    height: 42px;
    padding: 0;
    margin: 0;
}
::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    padding: 10px;
    box-sizing: border-box;
}
.button-submit {
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    width: 129px;
    height: 46px;
    margin-left: 10px;
    color: #4B9200;
}
.footer-right-down-p1 {
    margin: 0 !important;
    padding: 141px 0 10px 140px !important;
    font-weight: 100 !important;
    font-size: 16px !important;
    line-height: 20.8px !important;
    color: #FFFFFF !important;
}
.footer-right-down-p2 {
    padding: 0 0 0 140px !important;
    margin: 0 !important;
    font-weight: 100 !important;
    font-size: 16px !important;
    line-height: 20.8px !important;
    color: #FFFFFF !important;
}

/* INTERACTIVE */

.button:hover{
    cursor: pointer;
    background: #000000;
}
.button-2:hover{
    cursor: pointer;
    background: #4B9200;
    color: #F1F3F2;
}