@media all and (min-width: 1000px) and (max-width: 1440px){
    body {
        max-width: 1000px;
    }

/* BLOCK: Header/Navigation */

    header {
        z-index: 1;
        width: 1000px;
    }
    .header-content {
        width: 930px;
    }
    .header-content-left {
        width: 70%;
    }
    .header-content-right {
        width: 30%;
    }
    .navbar-logo {
        margin-left: -5px;
        margin-right: 39px;
    }
    .header-content-left li {
        padding: 0 24px 0 24px;
    }
    .header-content-right p {
        margin-right: -5px;
    }

/* BLOCK: Big PANDA */

    .favorite-animal-block {
        height: 584px;
        background-image: url(../../assets/images/small_desctop/Giant\ Panda.png);
    }
    .cirkle {
        width: 367px;
        height: 367px;
        border-radius: 100%;
        margin-left: 455px;
        margin-top: 70px;
        z-index: 0;
    }
    .text {
        width: 400.25px;
        height: 320px;
        margin-left: 514px;
        margin-top: 124px;
    }
    .text p {
        font-size: 85.2px;
        line-height: 63.9px;
    }
    .button-watch {
        margin-left: 567px;
        margin-top: 482px;
    }

/* BLOCK: Guy with HAT */

    .side-flower-1 {
        display: none;
    }
    .backstage-block {
        height:626px;
    }
    .column1 {
        margin: 0 0 0 0;
    }
    .column1-img {
    display: none;
    }
    .column1-img_small {
        height: 408px;
        width: 455px;
        display: block;
        margin-right: 15px;
    }
    .column2 {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sub-column2 {
        height: 408px;
        width: 455px;
        margin-left: -13px;
        margin-top: -19px;
    }
    .sub-column2 h2 {
        font-size: 48px;
        line-height: 57.6px;
        font-weight: 400;
        margin: 0;
    }
    .sub-column2-first-p {
        font-size: 16px;
        line-height: 20.8px;
        font-weight: 400;
        margin: 21px 0 0 0;
    }
    .sub-column2-second-p {
        font-size: 24px;
        line-height: 28.8px;
        font-weight: 400;
        margin: 55px 0 0 0;
    }
    .sub-column2-third-p {
        display: none;
    }
    .sub-column2-third-p_small{
        display: block;
        font-size: 16px;
        line-height: 22.4px;
        font-weight: 400;
        margin: 32px 0 0 0;
    }

/* Six Card DIV */

    .round-button-1 {
        margin-left: 232px;
        margin-top: 412px;
    }
    .round-button-2 {
        margin-right: 232px;
        margin-top: 412px;
    }
    .card-div {
        height: 355px;
        width: 294px;
        margin: 0px 14.5px 0px 14.5px;
    }
    .card-main-img {
        height: 294px;
        width: 294px;
    }
    .six-card-main {
        width: 100%;
        height: 1070px;
        align-items: flex-start;
    }
    .six-card {
        height: 895px;
        width: 1260px;
        margin-top: -5px;
    }
    .card-div1 {
        order: 1;
    }
    .card-div2 {
        order: 2;
    }
    .card-div3 {
        order: 4;
    }
    .card-div4 {
        order: 5;
    }
    .card-div5 {
        order: 3;
    }
    .card-div6 {
        order: 6;
    }
    .smallh4, .smallp, .card-main-img_small, .card-main-txt_fish_small {
        display: block;
    }
    .bigh4, .bigp, .card-main-img_big, .card-main-txt_banana_big {
        display: none;
    }
    .card-main-txt_banana {
        left: 245px;
        top: 10px;
    }
    .card-main-txt_fish {
        left: 230px;
        top: 5px;
    }
    .card-bottom-button {
        bottom: 92px;
    }
    .card-main:hover {
        transform: scale(1.2);
    }


/* BLOCK: Pick AND Feed */

    .pick-and-feed {
        margin-top: 48px;
    }
    .side-flower-3 {
        display: none;
    }
    .side-flower-3_small {
        display: block;
        height: 180px;
        bottom: -49px;
        position: absolute;
        right: 0px;
    }
    .side-flower-2 {
        display: none;
    }
    .side-flower-2_small {
        display: block;
        height: 202px;
        bottom: -49px;
        position: absolute;
        left: 0px;
    }

/* BLOCK: Pick AND Feed */
















}