@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}
html {
    font-family: Roboto;
}
body {
    max-width: 1600px;
    margin: auto;
}

/* BLOCK: Header/Navigation */

.invisible {
    position: absolute;
    visibility: hidden;
}
header {
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content {
    width: 1160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content-left {
    height: 100%;
    width: 50%;
}
.navbar-logo {
    width: 82px;
    height: 52px;
}
.header-content-left ul {
    list-style-type: none;
    margin: 0;
    padding: 12px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content-left li {
    padding: 0;
    margin: 0;
}
.header-content-left a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.donate-color {
    color: #FE9013 !important;
}
.header-content-right {
    height: 100%;
    width: 50%;
}
.header-content-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.header-content-right a, .header-content-right p {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

/* BLOCK: Big PANDA */

.big-panda {
    width: 100%;
    height: 390px;
    background-image: url(../../assets/images/Giant-panda-donate.png);
    background-size: cover;
}

/* BLOCK: MAIN */

.main-block {
    width: 100%;
    height: 1482px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-block-inner {
    width: 1160px;
    height: 100%;
}
.main-block-inner-h3-1 {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    color: #FFFFFF;
}
.main-block-inner-p-1 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    padding-right: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: #FFFFFF;
}
.main-block-inner-h3-2 {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    color: #FE9013;
}
.pick-and-feed {
    width: 1160px;
    height: 964px;
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}










.how-it-works-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
}
.how-it-works-button p, .how-it-works-button a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22.4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

/* BLOCK: FOOTER */

footer {
    width: 100%;
    height: 443px;
    background-color: #111115;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content {
    width: 1160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-block {
    width: 33%;
    height: 443px;
}
.footer-left {
    width: 33%;
    height: 343px;
    display: grid;
}
.footer-logo {
    width: 82px;
    height: 52px;
}
.footer-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    margin-top: 68px;
    margin-bottom: 44px;
}
.footer-button p, .footer-button a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.footer-ul img {
    height: 26px;
}
.footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-central {
    width: 34%;
    height: 343px;
    position: relative;
}
.footer-central ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.footer-central li, .footer-central a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
}
.float-bottom {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
}
.footer-right {
    width: 33%;
    height: 343px;
}
.footer-right-up {
    height: 50%;
    width: 100%;
}
.footer-right-down {
    height: 50%;
    width: 100%;
    position: relative;
}
.footer-right p {
    padding: 0;
    margin: 0;
}
.footer-right-up p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.input-area {
    border: 2px solid #FE9013;
    border-radius: 2px;
    width: 228px;
    height: 42px;
    padding: 0;
    margin: 0;
}
::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    padding: 10px;
    box-sizing: border-box;
}
.button-submit {
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    width: 129px;
    height: 46px;
    margin-left: 10px;
    color: #000000;
}
.footer-right-down-p1 {
    margin: 0 !important;
    font-weight: 100 !important;
    font-size: 16px !important;
    line-height: 20.8px !important;
    color: #FFFFFF !important;
    position: absolute;
    bottom: 26px;
    right: 5px;
}
.footer-right-down-p2 {
    margin: 0 !important;
    font-weight: 100 !important;
    font-size: 16px !important;
    line-height: 20.8px !important;
    color: #FFFFFF !important;
    position: absolute;
    bottom: 0;
    right: 0;
}